.label {
  background-color: #38AEF0;
  height: 20px;
  width: 100%;
  z-index: 1;
  text-align: center;
  color: #fff;
}
.wrapper {
  display: flex;
  .boxes {
    a:visited { color:white; text-decoration:none }
    width: 300px;
    height: 100%;
    .top-box {
      background-color: #253141;
      height: 100px;
      &__class {
        display: flex;
        line-height: 100px;
        justify-content: space-between;
      }
        &__class__user-name {
          font-size: 16px;
          color: #fafafa;
          padding: 0 20px;
        }
        &__class__menu {
          display: flex;
          font-size: 130%;
          color: white;
          margin: 0 20px 0 0;
        }
    }
    .bottom-box {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      font-weight: bold;
      color: #fff;
        &__group__name{
          display: block;
          font-size: 15px;
          padding: 20px 0 20px 20px;
        }
        &__group__message{
          font-size: 11px;
         padding: 0 20px;
        }
      }
  }

  .contents {
    height: 100%;
    width: calc(100% - 300px);
    .top-content {
      height: 100px;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      border-bottom: solid 1px #eeeeee;
        &__left{
        }
          &__left__current-group {
            font-size: 20px;
            margin: 35px 0 0 0;
          }
          &__left__member {
            display: inline-flex;
            font-size: 12px;
            margin: 15px 0 0 0 ;
            color: #999999;
          }
      .edit-content {
          a:visited { color: #38AEF0; text-decoration:none }
          color: #38AEF0;
          border: solid 1pt #38AEF0;
          font-size: 20px;
          text-align: center;
          margin-top: 28px;
          padding: 0 20px;
          height: 40px;
          line-height: 40px;
        }
    }
    .messages {
      width: 100%;
      height: calc(100vh - 190px);
      overflow: scroll;
      background-color: #fafafa;
      .midlle-content {
        width: 100%;
        height: calc(100vh - 190px);
        background-color: #fafafa;
        &__info {
          display: flex;
          padding: 46px 0 0 40px;
          &__talker {
            color: #434A54;
            font-size: 16px;
            font-weight: bold;
            display: inline-block;
          }
          &__date {
            color: #435A45;
            font-size: 12px;
            padding: 0 10px 0 10px;
          }
        }
        &__info__comment {
          color: #434A54;
          margin: 10px 0 40px 40px;
        }
      }
    }
    .bottom-content {
      background-color: #ddd;
      height: 90px;
      width: 100%;
      .text-content {
        width: 100%;
        .new_message {
          display: flex;
          justify-content: space-between;
          .text {
            border-style: none;
            width: 100%;
            height: 50px;
            padding: 0 0 0 10px;
            margin: 20px 15px 0 20px;
          }
          .file-content {
            .file {
              position: absolute;
              z-index: 1;
              .icon {
                position: absolute;
                top: 35px;
                right: 40px;
                font-size: 0;
                z-index: 9;
                font-size: 150%;
              }
              .hidden {
                position: absolute;
                top: 35px;
                right: 40px;
                font-size: 0;
                width: 20px;
                background-color: #fff;
                z-index: 10;
                opacity: 0;
              }
            }
          }
        }
            .send-content {
              a:visited { color: #fff; text-decoration:none }
              color: #fff;
              padding: 0 20px;
              font-size: 20px;
              margin: 22px 40px 20px 15px;
              height: 50px;
              line-height: 50px;
              background-color: #38AEF0;
            }
          
      }
    }
  }
}